// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons";
@import "./components/taskSidebar";

body, html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.single-task {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

  label:hover {
    cursor: pointer;
    color: #2d3748;
    text-decoration: underline;
  }
}

.delete-list-btn:before {
  font-size: 20px;
}

.delete-list-btn:hover {
  cursor: pointer;
}