// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "./components/taskSidebar";

body, html, #app {
  width: 100%;
  height: 100%;
}

.single-task:hover {
  cursor: pointer;
}